.header-content-wrapper {
  position: relative;

  .Header_menu_warpper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 18px;
    z-index: 100;
  }

  .menu {
    ul {
      li {
        margin: 0 10px;

        a {
          color: #fff;
          display: inline-block;
          padding: 9px 5px;
          border-radius: 8px;

        }

        a.active {
          border: 1px solid #fff;
        }
      }
    }
  }
}


.bannar_wapper {
  
  background-size: cover;

  .signel_bannar {
    h1 {
      font-size: 54px;
      color: #fff;
      font-family: $Roboto;
      font-weight: $fw_bold;
      margin-bottom: 60px;

      @include breakpoint(xsmall) {
        font-size: 48px;
        margin-bottom: 30px;
      }

    }

    .bannar_from_group {
      h4 {
        font-size: 24px;
        font-family: $Roboto;
        margin-bottom: 20px;
        color: #fff;
        font-weight: $fw_bold;
        letter-spacing: 1.8px;

        @include breakpoint(xsmall) {
          font-size: 48px;
          font-size: 18px;
          margin-bottom: 12px;
        }
      }

      // input.form-control {
      //   border-radius: 30px;
      //   padding: 18px 0 18px 30px;
      //   margin-left: 0;

      //   @include breakpoint(xsmall) {
      //     padding: 14px 0 14px 30px;

      //   }
      // }

      // button#button-addon2 {
      //   border-radius: 53px;
      //   font-size: 14px;
      //   font-weight: $fw_bold;
      //   font-family: $Roboto;
      //   z-index: 1000;
      //   background: #330691;
      //   color: #fff;

      // }

      // .input-group-append {
      //   padding: 5px 0;
      //   margin-left: 6px;

      //   @include breakpoint(cxsmall) {
      //     margin-left: -217px;
      //     padding: 5px 0;

      //   }
      // }
      
input.form-control {
  border-radius: 30px;
  padding: 18px 0 18px 30px;
  margin-left: 0;
  @include breakpoint(xsmall){
    width: 100%;
  }
  
  @include breakpoint(small){
    width: auto;
  }
}

button#button-addon2 {
  border-radius: 53px;
  font-size: 14px;
  font-weight: $fw_bold;
  font-family: $Roboto;
  z-index: 1000;
  background: #330691;
  color: #fff;

}

.input-group-append {
 
  padding: 5px 0;

  @include breakpoint(xsmall){
    width: 100%;
    justify-content: center;
  }
  
  @include breakpoint(small){
    margin-left: -217px;
    width: auto;
  }
}
    }

    .link_wrapper {
      margin: 100px 0 0 0;

      @include breakpoint(xsmall) {
        margin: 30px 0 0 0;

      }

      a {
        text-decoration: none;
        color: #fff;

        span {
          background: #e5cc4e;
          width: 24px;
          height: 24px;
          border-radius: 50px;
          text-align: center;
          display: inline-block;

          i.css_style {

            color: #7f6573;
            width: 12px;
            height: 12px;

            line-height: 27px;
            text-align: center;
            display: inline-block;
          }
        }

        font-weight: $fw_bold;
      }
    }
  }

}

.hamburger-nav {
  fill: #fff;
}

a.hamburger-nav {
  
  @include breakpoint(cxsmall){
    top: 85%;
    right: 14%;
    position: absolute;
    border: 1px solid #fff;
    padding: 5px 8px;
    border-radius: 9px;
    z-index: 1000;
    margin-top: 45px;
  }
  @include breakpoint(xsmall){
    top: 85%;
    right: 7%;
    position: absolute;
    border: 1px solid #fff;
    padding: 5px 8px;
    border-radius: 9px;
    z-index: 1000;
    margin-top: 14px;
  }
  
  @include breakpoint(small){
    top: 85%;
    right: 12%;
    position: absolute;
    border: 1px solid #fff;
    padding: 5px 8px;
    border-radius: 9px;
    z-index: 1000;
    margin-top: 14px;

   
   
  }
  span {
    color: #fff;
    margin-right: 3px;
  }
}

.nav .main-nav .menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 212%;
  padding-left: 0;
  width: 100%;
  overflow: hidden;
  
  @include breakpoint(xsmall){
    margin-top: 81px;
    
  }
  @include breakpoint(small){
    margin-top: 53px;
  }
}




ul.mobile_menu {
  li {
    display: block;
    background: #000;

    a {
      color: #fff;
    }

  }
}