$Roboto : 'Roboto', sans-serif;
$WorkSans:'Work Sans', sans-serif;
$fw_Regular: 400;
$fw_samibold:600;
$fw_bold:700;
$fs_small:16px;
$fs_middum:20px;
$fs_sami_Big:24px;
$fs_Big:32px;


$black:#000;
$white:#fff;

$theme-black-bg : #f9f8f6;
$theme-blue-bg : #008cd4;
