.contact{
//    header-css 
    height: 100px;
    .menu{
        ul{
            li{
                a{
                    color: #000;
                }
            }
        }
    }
    a.hamburger-nav span{
        color: #000;
    }
    a.hamburger-nav{
        border: 1px solid #000;
    }
    a.hamburger-nav svg {
        fill: #000;
    }

   
}

.contanct-wrapper{
     // body_css 
     .section-wrapper{
        h2{
            font-size: 42px;
        }
    }
    .form-group{
        margin: 30px 0;
        label{
            font-size: 18px;
            span{
                color: red;
            }
        }
       
    }
    p{
        margin-bottom: 20px;
    }
    .btn.loign_a_btn{
        background: #330691;
        color: #fff;
        box-shadow: none;
        margin-bottom: 50px;
    }
}
.google_loging_wrapper{
    a.btn{
        margin-bottom: 20px;
        border-radius: 10px;
    }
    margin-bottom: 60px;
}




// bannar-area ///@at-root
.bannar_wapper{
    position: relative;
    &::before{
    pointer-events: none;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    height: 168px;
    background: linear-gradient(180deg,#000 -80%,hsla(0,0%,100%,0) 80%);
    }
}
// singel_constraction_wrapper 
.construction_tv_show{
    background: $theme-black-bg$theme-black-bg;
}
.singel_constraction{
    p{
        margin-top: 5px;
    }
}

.singel_tv_picutre{
 margin: 0 20px;
}