.publish{
    min-height: 650px;
    
    .signel_bannar{
        h1{
            margin: 60px 0;
            color: #000;
        }
        .bannar_from_group{
            h4{
                margin-bottom: 60px;
                color: #000;
            }
            .input-group{
                input{
    
                }
            }
        }
        
    }
}

.Header_menu_warpper.publier{



.menu {
    ul {
        li {
            a {
                color: #000;
            }
        }
    }
}

a.hamburger-nav span {
    color: #000;
}

a.hamburger-nav {
    border: 1px solid #000;
}

a.hamburger-nav svg {
    fill: #000;
}
}

.puliser_cta{
    .singel_puliser{
        margin: 25px 0;
        border: 0.063rem solid #D9D7D5;
        padding: 20px 30px;
        border-radius: 10px;
        .svg_icon{
            width: 30px;
        }
        h6{
            font-size: 16px;
            margin-top: 8px;
        }
    }
}